language: node_js
services:
  - mongodb
  - redis
node_js:
  - "12"
cache:
  directories:
  - "node_modules"
env:
  global:
    - CC_TEST_REPORTER_ID=69b8dd805e341f95ffb900e9da6a6a717c8b1d28a6170367b50a8aef7bbe42d1
    - NODE_ENV=test
    - PORT=5037
    - API_VERSION=v1
    - CT_REGISTER_MODE=auto
    - LOCAL_URL=http://127.0.0.1:3001
    - CT_URL=http://127.0.0.1:9000
    - MONGO_PORT_27017_TCP_ADDR=127.0.0.1
    - CT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Im1pY3Jvc2VydmljZSIsImNyZWF0ZWRBdCI6IjIwMTYtMDktMTQifQ.IRCIRm1nfIQTfda_Wb6Pg-341zhV8soAgzw7dd5HxxQ
    - API_GATEWAY_URL=http://127.0.0.1:9000
    - API_GATEWAY_EXTERNAL_URL=http://127.0.0.1:9000
    - API_GATEWAY_QUEUE_URL=redis://127.0.0.1:6379
    - API_GATEWAY_QUEUE_NAME=mail

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - yarn test
  - yarn run coverage
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
